
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}


.container {
    padding-top: 3em;
}


header {
    background-color: #ff8c00;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


header h1 {
    margin: 0;
    font-size: 2rem;
}


.logo img {
    height: 50px;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


section {
    margin-bottom: 20px;
}


.section-title h3 {
    font-size: 1.5rem;
    border-bottom: 2px solid #ff8c00;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

form input[type="text"],
form input[type="number"] {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #0056b3;
}

#aristas > div {
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


#recorrerBtn, #recorrerBFSBtn {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    background-color: #28a745;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
}

#recorrerBtn:hover, #recorrerBFSBtn:hover {
    background-color: #218838;
}


.alert {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.alert h3 {
    margin: 0;
    font-size: 1.25rem;
}
/* Estilo del resultado del recorrido DFS */
#resultado {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #d4edda;
    color: #155724;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
